@font-face {
  font-family: 'Jura';
  src: url("/assets/Jura-VariableFont_wght.ttf");
}
@font-face {
  font-family: 'Forum';
  src: url("/assets/Forum-Regular.ttf");
}
a{color: white; text-decoration: none}

.container {
  padding: 15px;
  margin: auto;
}

.functions{
  position: absolute;
  width: 130px;
  height: 92%;
  background: rgba(55, 63, 81, 0.66);
  border: 3px solid rgba(218, 164, 154, 0.62);
}
.to_add {
  background-image: url("/assets/dobavit.jpg");
  width: 90px;
  height: 90px;
  background-size: contain;
  float: left;
  border-radius: 20px ;
}

.text\.to-add {
  color: white;
  text-align: center;
  position: relative;
  top: 95px;
  font-size: 18px;
  white-space: nowrap;
  font-family: Jura;
}
.today {
  background-image: url("/assets/tooday1.jpg");
  width: 90px;
  height: 90px;
  background-size: cover;
  position: relative;
  float: left;
  top: 40px;
  border-radius: 20px;
}
.texttoday {
  color: white;
  text-align: center;
  position: relative;
  top: 95px;
  font-size: 20px;
  font-family: Jura;
}
.calendar {
  background-image: url("/assets/calender.jpg");
  width: 90px;
  height: 90px;
  background-size: cover;
  position: relative;
  float: left;
  top: 85px;
  border-radius: 20px;
}
.textcalendar {
  color: white;
  text-align: center;
  position: relative;
  top: 95px;
  font-size: 18px;
  font-family: Jura;
}
.project {
  background-image: url("/assets/project.jpg");
  width: 90px;
  height: 90px;
  background-size: cover;
  position: relative;
  float: left;
  top: 130px;
  border-radius: 20px;
}
.textproject {
  color: white;
  text-align: center;
  position: relative;
  top: 100px;
  font-size: 20px;
  font-family: Jura;
}


