header {
  padding-left: 20px;
  padding-top: 15px;
  display: flex;
  align-items: center;
}
.logo {
  background-image: url("/assets/logotip.jpg");
  width: 50px;
  height: 50px;
  background-position: left;
  background-size: cover;
}

.text {
  color: black;
  font-size: 32px;
  font-family: Jura;
  font-weight: 700;
  word-wrap: break-word;
  color: #000000;
  width: fit-content;
}

.background-image {
  background-image: url("/assets/background_auth.png");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.switch-buttons {
  display: flex;
  height: 9%;
}
.switch-buttons button {
  width: 50%;
  margin-right: 3px;
  height: 100%;
  border: none;
  color: #373F51;
  background-color: white;
  font-size:42px;
  font-family: Jura;
  font-weight: 500;
  border-bottom: solid 5px white;
}

.switch-buttons button:last-child {
  margin-right: 0;
}

.switch-buttons button.active {
  border-bottom: solid 5px black;
}

.auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.picture {
  background-image: url("/assets/auth-form-pic.png");
  width: 30%;
  height: 80%;
  background-size: cover;
  background-repeat: no-repeat;

}
.auth-form {
  background-color: #d8dbe2;
  width: 35%;
  height: 80%;
  text-align: center;
}

.form {
  margin: 5%;
  height:84%;
}

.test {
  margin-left: 50px ;
  width: 200px;
  height: 40px;
  background-color:  #58A4B0;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: large;
}
