<div class = "background-image">
  <header>
    <div class ="logo"></div>
    <div class ="text">TaskFlow</div>
    <button class = "test" routerLink="/main" >страница с задачами</button>
  </header>

  <div class = "auth-form-container">
    <div class = "picture"></div>
    <div class = "auth-form">
      <div class = "switch-buttons">
        <button (click)="setActive('login')" [class.active]="authType === 'login'">Вход</button>
        <button (click)="setActive('register')" [class.active]="authType === 'register'">Регистрация</button>
      </div>
      <div class = "form" *ngIf="authType === 'register'"><app-register></app-register></div>
      <div class = "form" *ngIf="authType === 'login'"><app-login></app-login></div>
    </div>
  </div>
</div>
