.window {
  background: #FFFFFF;
  height: 90%;
  width: 90%;
  border: 2px solid #58A4B0;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 7%;
  margin-left: 7%;

}
.header {
  background-color: rgb(88, 164, 176);
}
.date {
  color: white;
  text-align: left;
  font-size: 25px;
  font-family: Jura;
  padding: 15px;
}
.button {
  background-image: url("/assets/plus.png");
  height: 46px;
  width: 47px;
  border-radius: 20px;
}
.task-list {
  width: 80%;
  margin: 10px auto;
  margin-top: 30px;
}



