<div class = "window">
  <div class = "header">
    <div class="date">2 ноября, четверг</div>
  </div>
  <div class = "task-list">
    <div *ngFor="let task of tasks">
      <app-task-list-item
        [taskId]="task.id"
        [taskName]="task.name"
        [taskDescription]="task.description"
        [taskDate]="task.date"
        [taskPriority] ="task.priority"
        [taskState]="task.state"
        [taskCategory]="task.category">
      </app-task-list-item>
    </div>
    <app-inline-task-creation></app-inline-task-creation>

  </div>
</div>
