<div class = "window">
  <header>
    <div class="date">{{this.datePipe.transform(Date(), 'dd MMM')}}</div>
    <div>f</div>
  </header>
  <div class = "task-list">
    <div *ngFor="let task of tasks">
      <app-task-list-item
        [taskId]="task.id"
        [taskName]="task.name"
        [taskDescription]="task.description"
        [taskDate]="task.date"
        [taskPriority] ="task.priority"
        [taskState]="task.state"
        [taskCategory]="task.category">
      </app-task-list-item>
    </div>
    <div *ngIf="isZeroTasks" class ="whenNoTaskWindow">
      <img src="/assets/todo.jpg" alt="">
      <p>План на день - это список ваших дел на любой день</p>
      <button (click)="showTaskCreationWindow()" class="image-button-item">
        <div class = "ellipse-img">
          <div class = "plus-img"></div>
        </div>
      </button>
      <p>Нажмите + для добавления задачи на сегодня</p>

    </div>
    <app-inline-task-creation *ngIf="!isZeroTasks"></app-inline-task-creation>
  </div>
</div>
