<style>
  div.background {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
  }

  header h3{
    background: linear-gradient(0deg, #000000, #000000),
    linear-gradient(0deg, #373F51, #373F51);
    border: 1px solid rgba(0, 0, 0, 1);

    width: 1938px;
    height: 228px;
    top: -409px;
    left: -2876px;
    border: 1px;

  }





</style>














<!-- Фоновая картинка -->
<div class="background">
  <img src="/assets/image 1.jpg" />
</div>

<div class="toolbar" role="banner">
  <img
    width="40"
    alt=
    src=
  />
  <span>Task Flow</span>
  <div class="spacer"></div>
  <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
    <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
     </svg>
  </a>
  <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
    <svg id="youtube-logo" height="24" width="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#0000FF">
      </svg>
  </a>
</div>

<h3>Планировщик для дел и задач</h3>

