<button class = "create-task-button" *ngIf="!creatingTask" (click)="showTaskCreationWindow()">Создать задачу</button>
<div class="task-creation-window" *ngIf="creatingTask" [class.focused]="isInputFocused">
  <div class = "task-editor-editing-area">
    <input class ="task-name" placeholder="Название задачи" [(ngModel)]="taskName" (focus)="onInputFocus()" (blur)="onInputBlur()">
    <input class ="task-description" placeholder="Описание" [(ngModel)]="taskDescription" (focus)="onInputFocus()" (blur)="onInputBlur()">
    <div class = "task-editor-editing-buttons">
      <button class = "set-date">Срок выполнения</button>
      <app-custom-select (onChanged)="handlePriorityChange($event)"></app-custom-select>


    </div>
  </div>
  <div class = "task-editor-footer">
    <button class ="set-project"></button>
    <div class = "task-editor-buttons">
      <button class = "cancel-button" (click)="closeTaskCreationWindow()">Отмена</button>
      <button class = "add-task-button" (click)="createTask()"> Добавить задачу</button>
    </div>
  </div>
</div>
