<button class = "create-task-button" *ngIf="!creatingTask" (click)="showTaskCreationWindow()">Создать задачу</button>
<div class="task-creation-window" *ngIf="creatingTask" [class.focused]="isInputFocused">
  <div class = "task-editor-editing-area">
    <input class ="task-name" placeholder="Название задачи" [(ngModel)]="taskName" (focus)="onInputFocus()" (blur)="onInputBlur()">
    <input class ="task-description" placeholder="Описание" [(ngModel)]="taskDescription" (focus)="onInputFocus()" (blur)="onInputBlur()">
    <div class = "task-editor-editing-buttons">

      <app-custom-select-category (onChanged)="handleCategoryChange($event)"></app-custom-select-category>
      <app-custom-select (onChanged)="handlePriorityChange($event)"></app-custom-select>


    </div>
  </div>
  <div class = "task-editor-footer">
    <div>
      <nz-date-picker nzMode="date" [(ngModel)]="taskDate" (ngModelChange)="onChange($event)"></nz-date-picker>
      <nz-time-picker [(ngModel)]="taskTime" [nzDefaultOpenValue]="defaultOpenValue"></nz-time-picker>
    </div>
    <div class = "task-editor-buttons">
      <button class = "cancel-button" (click)="closeTaskCreationWindow()">Отмена</button>
      <button class = "add-task-button" (click)="createTask()"> Добавить задачу</button>
    </div>
  </div>
</div>
