@font-face {
  font-family: 'Jura';
  src: url("/assets/Jura-VariableFont_wght.ttf");
}
@font-face {
  font-family: 'Forum';
  src: url("/assets/Forum-Regular.ttf");
}
a{color: white; text-decoration: none}

header {
  background: rgba(55, 63, 81, 0.66);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid rgba(218, 164, 154, 0.62);
}
.logo {
  background-image: url("/assets/logotip.jpg");
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 10px;
  margin-right: 10px;

}
.sitename {
  font-size: 30px;
  font-family: Jura;
  font-style: normal;
  font-weight: bold;
  color: #000000;

}
.user-icon {
  background-image: url("/assets/avatar.jpg");
  width: 50px;
  height: 50px;
  background-size: contain;
  border-radius: 25px;

}
.username{
  font-size: 30px;
  font-family: Jura;
  color: white;
  margin-right: 10px;
}
.conteiner1 {
  display: flex;
  align-items: center;
}
.conteiner2 {
  display: flex;
  align-items: center;
}
.left-container,
.right-container {
  margin-left: 10px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}
