<div class = "background-image-main">

  <header>
    <div class ="header"><div class="container">
      <div class ="img"><div class ="textlogo">TaskFlow</div></div>
      <div class="img1"><span class = "text1">Имя</span></div>
    </div>
    </div>
  </header>
  <main>
    <div class="functions"><div class="container">
      <div class ="to_add"><div class ="text.to-add"><a routerLink="/">Все задачи</a></div></div>
      <div class ="today"><div class ="texttoday"><a routerLink="/today">Сегодня</a></div></div>
      <div class ="calendar"><div class ="textcalendar"><a routerLink="/">Календарь</a></div></div>
      <div class ="project"><div class ="textproject"><a routerLink="/">Папки</a></div></div>
    </div></div>
    <div class="list"><div class="headerday"><div class="date">2 ноября, четверг</div>
      <div class="tk"></div>
    </div></div>
  </main>
</div>

