<form>


  <label for="email">Эл. почта</label>
  <input type="email" [(ngModel)]="user.email" name="email" id="email">

  <label for="username">Имя пользователя</label>
  <input type="text" [(ngModel)]="user.username" name="username" id="username">

  <label for="password">Пароль</label>
  <input type="password" [(ngModel)]="user.password" name="password" id="password">

<!--  <label for="password2">Подтверждение пароля</label>-->
<!--  <input type="password" id="password2">-->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <button type="submit" (click)="register()" >Зарегистрироваться</button>


</form>
