@font-face {
  font-family: 'Jura';
  src: url("/src/assets/Jura-VariableFont_wght.ttf");
}
@font-face {
  font-family: 'Forum';
  src: url("/src/assets/Forum-Regular.ttf");
}
a{color: white; text-decoration: none}

.container {
  width: 100%;
  padding: 15px;
  margin: auto;
}
header {
  width: 1880px;
  height: 75px;
  margin-bottom: 10px;
  position: relative;
  background: rgba(55, 63, 81, 0.66);

}
.img {
  background-image: url("/src/assets/logotip.jpg");
  width: 50px;
  height: 50px;
  background-position: left;
  background-size: cover;
  float: left;
  margin-left: 10px;
  border-radius: 10px;

}
.text {
  margin-left: 1px;
  text-align: left;
  font-size: 30px;
  font-family: Jura;
  font-style: normal;
  font-weight: bold;
  color: #000000;
  position: relative;
  right: -50px;
  top: 10px;

}
.img1 {
  background-image: url("/src/assets/avatar.jpg");
  width: 50px;
  height: 50px;
  background-size: contain;
  float: right;
  margin-right: 5%;
  top: 40px;
  border-radius: 25px;
}
.text1{
  position: relative;
  left: -80px;
  top: 10px;
  font-size: 30px;
  font-family: Jura;
  color: white;
}

main{
  width: 1880px;
  height: 800px;
  margin: 0;
  background-image: url("/src/assets/background.jpg");
  background-size: cover;
}
.functions{
  position: absolute;
  width: 120px;
  height: 800px;
  top: 93px;
  background: rgba(55, 63, 81, 0.66);
}
.to_add {
  background-image: url("/src/assets/dobavit.jpg");
  width: 90px;
  height: 90px;
  background-size: contain;
  float: left;
  border-radius: 20px ;
}

.text\.to-add {
  color: white;
  text-align: center;
  position: relative;
  top: 100px;
  font-size: 20px;
  font-family: Jura;
}
.today {
  background-image: url("/src/assets/tooday1.jpg");
  width: 90px;
  height: 90px;
  background-size: cover;
  position: relative;
  float: left;
  top: 50px;
  border-radius: 20px;
}
.texttoday {
  color: white;
  text-align: center;
  position: relative;
  top: 100px;
  font-size: 20px;
  font-family: Jura;
}
.calendar {
  background-image: url("/src/assets/calender.jpg");
  width: 90px;
  height: 90px;
  background-size: cover;
  position: relative;
  float: left;
  top: 100px;
  border-radius: 20px;
}
.textcalendar {
  color: white;
  text-align: center;
  position: relative;
  top: 100px;
  font-size: 18px;
  font-family: Jura;
}
.project {
  background-image: url("/src/assets/project.jpg");
  width: 90px;
  height: 90px;
  background-size: cover;
  position: relative;
  float: left;
  top: 150px;
  border-radius: 20px;
}
.textproject {
  color: white;
  text-align: center;
  position: relative;
  top: 100px;
  font-size: 18px;
  font-family: Jura;
}

.list {
  width: 1000px;
  height: 750px;
  background: #FFFFFF;
  border: 2px solid #58A4B0;
  border-radius: 10px;
  position: relative;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}
.headerday {
  width: 1000px;
  height: 70px;
  background: rgba(88, 164, 176, 0.85);
}
.date {
  color: white;
  text-align: left;
  margin-left: 30px;
  position: relative;
  font-size: 25px;
  font-family: Jura;
  top: 30px;
}
.image {
  background-image: url("/src/assets/todo.jpg");
  width: 300px;
  height: 300.63px;
  background-size: contain ;
  position: relative;

}
