button {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  background-color: #58A4B0;
  border-radius: 7px;
  color: white;
  margin-right: 10px;
  align-self: end; /* Располагаем элемент внизу */
  margin-top: auto; /* Добавляем автоматический отступ сверху для выравнивания внизу */
  margin-left: auto;
  font-family: Jura;
  font-weight: 400;
  font-size: 25px;
  bottom: 55px;
  align-self: end;
  margin-bottom: 20px;
}
button:hover {
  background-color: rgb(71, 147, 157);
}

button:active {
  transform: scale(0.95); /* Уменьшение размера при нажатии */
  transition: all 0.1s ease;
}

input {
  border-radius: 5px;
  border: solid rgba(55, 63, 81, 0.40) 1px;
  width: 45%;
  height: 25px;
  margin-bottom: 15px;
  font-size:17px;
  font-family: sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100%;
}

label {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: left;
  padding: 5px;
  margin-bottom: 8px;
  width: fit-content;
}
.error-message {
  color: red;
}
