<header>
  <div class ="header"><div class="container">
    <div class ="img"><div class ="text">TaskFlow</div></div>
    <div class="img1"><span class = "text1">Имя</span></div>
  </div>
  </div>
</header>
<main>
  <div class="functions"><div class="container">
    <div class ="to_add"><div class ="text.to-add"><a routerLink="/task-list">Добавить</a></div></div>
    <div class ="today"><div class ="texttoday">Сегодня</div></div>
    <div class ="calendar"><div class ="textcalendar">Календарь</div></div>
    <div class ="project"><div class ="textproject">Проекты</div></div>
  </div></div>
  <div class="list"><div class="headerday"><div class="date">2 ноября, четверг</div></div><div class="image"></div></div>
</main>

