
<div class = "background-image-home">
  <!-- Шапка -->
  <header>
    <div class="container">
      <div class ="img"></div>
      <div class ="text">TaskFlow</div>
      <div class="img1"><span class = "text1">RU</span></div>
      <a class="button1" routerLink="/auth">Войти</a>
    </div>
  </header>


  <!-- Заголовок 1 -->
  <main>
    <div class = "main-heading"><div class="container">
      <h1>Планировщик для дел и задач</h1>
      <div style="border-bottom: solid 2px #373F51;"></div>
      <h3>TaskFlow - поможет вам получить списки дел из <br> вашей головы, организовать свою жизнь и выполнить <br>поставленные задачи.</h3>
      <a class="button" routerLink="/auth">Начать</a>
    </div></div>
  </main>
</div>
