
<div class = "background-image-home">
  <!-- Шапка -->
  <header>
      <div class ="main-logo"></div>
      <div class ="site-name-text">TaskFlow</div>
      <div class="lang-switch">
        <div class = "lang-logo"></div>
        <div class = "text1">RU</div>
      </div>
      <a class="button1" routerLink="/auth">Войти</a>
  </header>


  <!-- Заголовок 1 -->
  <main>
    <div class = "main-heading">
      <h1>Планировщик для дел и задач</h1>
      <div style="border-bottom: solid 2px #373F51; width: 100%;"></div>
      <h3>TaskFlow - поможет вам получить списки дел из <br> вашей головы, организовать свою жизнь и выполнить <br>поставленные задачи.</h3>
      <a class="button" routerLink="/auth">Начать</a>
    </div>
  </main>
</div>
