<!-- Шапка -->
<header>
  <div class ="header"><div class="container">
    <div class ="img"></div>
    <p>Task Flow</p>
    <button class="button1">Войти</button>
  </div>
  </div>
</header>


<!-- Заголовок 1 -->
<main>
  <div class = "main-heading"><div class="container">
    <h1>Планировщик для дел и задач</h1>
    <div style="border-bottom: solid 2px #000000;"></div>
    <h3>TaskFlow - поможет вам получить списки дел из вашей головы, организовать свою жизнь и выполнить поставленные задачи.</h3>
    <a routerLink="/auth">Начать</a>
  </div>
  </div>
</main>
