header {
  width: 100%;
  height: 7%;
  display: flex;
  text-align: center;
  align-items: center;
}
.main-logo {
  background-image: url("/assets/logotip.jpg");
  width: 50px;
  height: 50px;
  background-position: left;
  background-size: contain;
  float: left;
  margin-left: 5%;

}
.site-name-text {
  margin-left: 1px;
  text-align: left;
  font-size: 30px;
  font-family: Jura;
  font-style: normal;
  color: #000000;
  position: relative;
  left: 5px;
  top: 10px;
}

.lang-switch {
  position: absolute;
  right: 10%;
  display: flex;
  align-items: center;
}
.lang-logo {
  background-image: url("/assets/output-onlinepngtools.png") ;
  width: 50px;
  height: 50px;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;

  /*float: right;*/
  /*margin-right: 15%;*/
  /*margin-top: 10px;*/
}
.text1{
  /*position: relative;*/
  /*right: -40px;*/
  /*bottom: 2px;*/
  /*font-size: 30px;*/
  /*font-family: Jura;*/
  color: #655F5F;
  font-size: 36px;
  font-family: Jura;
  font-weight: 500;
}
.button1{
  display: inline-block;
  background: rgba(88, 164, 176, 1);
  color: #fff;
  margin: 1px ;
  padding: 12px;
  border: none;
  width: 100px;
  border-radius: 20px;
  text-decoration: none;
  font-family: Jura;
  font-size: 25px;
  line-height: 1;
  cursor: pointer;
  position: absolute;
  right: 1px;
  text-align: center;
}

main {
  width: 100%;
  height: 800px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-size: contain;
  text-align: center;
}
.main-heading {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 50px;
}
.main-heading h1{
  font-size: 80px;
  text-align: center;
  margin-top: 10% ;
  color: #373F51;
}
.main-heading h3{
  font-size: 30px;
  font-family: Jura;
  text-align: center;
  color: #DF9284;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 45px;

}
a{
  display: inline-block;
  background: rgba(88, 164, 176, 1);
  color: #fff;
  padding: 15px;
  border: none;
  width: 300px;
  border-radius: 20px;
  text-decoration: none;
  font-family: Jura;
  font-size: 40px;
  line-height: 1;
  cursor: pointer;
  margin-bottom: 50px;
}
.background-image-home {
  background-image: url("/assets/image 1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
