nav {
  background-color: darkgray;
}
span {
  display: inline;
}
main {
  background-color: grey;
}
.logo {
  border-right: black;
}
.button {
  width: fit-content;
  background: #58A4B0;
  border-radius: 15px;
}


