
@font-face {
  font-family: 'Jura';
  src: url("/assets/Jura-VariableFont_wght.ttf");
}
@font-face {
  font-family: 'Forum';
  src: url("/assets/Forum-Regular.ttf");
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

app-root, app-main-page, app-background {
  display: block;
  height: 100%;
}
app-all-tasks {
  flex-grow: 1;
}
button {
cursor: pointer;
}
