<div class="sidebar">
  <div class = conteiner>
    <button class ="to-all-tasks" routerLink="/main/all-tasks"></button>
    <p>Все задачи</p>
  </div>
  <div class = conteiner>
    <button class ="to-today" routerLink="/main/today"></button>
    <p>Сегодня</p>
  </div>
  <div class = conteiner>
    <button class ="to-calendar" routerLink="/main/calendar"></button>
    <p>Календарь</p>
  </div>
  <div class = conteiner>
    <button class ="to-categories" routerLink="/main/categories"></button>
    <p>Категории</p>
  </div>

</div>
