@font-face {
  font-family: 'Jura';
  src: url("/assets/Jura-VariableFont_wght.ttf");
}
@font-face {
  font-family: 'Forum';
  src: url("/assets/Forum-Regular.ttf");
}
a{color: white; text-decoration: none}

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.image {
  background-image: url("/assets/todo.jpg");
  width: 300px;
  height: 300.63px;
  background-size: contain ;
  margin-bottom: 20px;
}
.text {
  text-align: center;
  color: black;
  font-size: 30px;
  font-weight: bold;
  font-family: Jura;
}
.image-button {
  height: 80px;
  width: 80px;
  background-image: url("/assets/plus.png");
  background-size: cover;
  border-radius: 30px;
  margin: 30px;
}
.text1 {
  color: black;
  font-size: 20px;
  white-space: nowrap;
  font-family: Jura;
}

.window {
  background: #FFFFFF;
  height: 90%;
  width: 90%;
  border: 2px solid #58A4B0;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 7%;
  margin-left: 7%;

}
.header {
  background-color: rgb(88, 164, 176);
}
.date {
  color: white;
  text-align: left;
  font-size: 25px;
  font-family: Jura;
  padding: 15px;
}
.button {
  background-image: url("/assets/plus.png");
  height: 46px;
  width: 47px;
  border-radius: 20px;
}
.task-list {
  width: 80%;
  margin: 10px auto;
  margin-top: 30px;
}

.whenNoTaskWindow {
  display: flex;
  flex-direction: column;
  align-items: center;

}
nz-select {
  width: 200px;
}
